<!doctype html>
<html lang="en" ng-app="darjeelingApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
        content="183306700785-v7e3gko59f091dedpt8802hp9mii10tm.apps.googleusercontent.com">
	<title>Darjeeling</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="FeedsCtrl">
    <div layout="column" style="height: 100vh">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="left" md-swipe-left="toggleSidenav('left')">
            <md-toolbar layout="row">
            </md-toolbar>
            <md-button class="md-primary md-raised" ng-controller="SubscriptionsController"
                       ng-click="showSubscribePopup($event, folders)">Subscribe</md-button>
            <md-switch ng-model="prefs.showUnreadOnly" aria-label="Show unread only">Show unread only</md-switch>
            <md-button ng-controller="SubscriptionsController"
                       ng-click="showEditSubscriptionPopup($event, folders, feeds)">Edit subscriptions</md-button>
        </md-sidenav>

        <md-progress-linear md-mode="indeterminate" class="md-accent" style="position: fixed; z-index: 1" ng-show="loading"></md-progress-linear>
        <md-toolbar class="md-whiteframe-z1" layout="row" md-scroll-shrink>
            <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
                <md-icon aria-label="Menu">menu</md-icon>
            </md-button>
            <h1 hide-sm>Darjeeling</h1>

            <span flex></span>

            <!-- see https://github.com/angular/material/issues/3909 -->
            <span ng-show="totalUnread > 0">({{totalUnread}})</span>
            <md-select name="selectedFeeds" ng-model="selectedFeed" aria-label="Feed to display" style="max-width: 50%"
                       ng-change="displayUnreadItems(selectedFeed)" ng-cloak>
                <md-option value="-1" selected>All feeds </md-option>
                <md-option ng-repeat-start="folder in folders" ng-value="folder">{{folder.name}} <span ng-show="folder.unread > 0">({{folder.unread}})</span></md-option>
                <md-option ng-repeat="feed in folder.feeds" ng-repeat-end ng-value="feed" class="selectFeed">{{feed.name}} <span ng-show="feed.unread > 0">({{feed.unread}})</span></md-option>
                <md-option ng-repeat="feed in feeds" ng-value="feed">{{feed.name}}</md-option>
            </md-select>

            <span flex></span>
            <md-button>
                <md-icon ng-click="displayUnreadItems(selectedFeed)">refresh</md-icon>
            </md-button>

            <div class="g-signin2" ng-hide="true" data-onsuccess="onSignIn"></div>
            <md-menu md-position-mode="target-right target" ng-controller="AuthCtrl">
		        <md-button aria-label="User options" class="md-fab profile" style="padding: 0" ng-click="$mdOpenMenu($event)">
		          <img md-menu-origin ng-src="{{userProfile.imageUrl}}"/>
		        </md-button>
		        <md-menu-content width="4" >
		          <md-list-item class="md-2-line">
		              <img ng-src="{{userProfile.imageUrl}}" class="md-avatar" alt="{{userProfile.name}}" />
		              <div class="md-list-item-text" layout="column">
		                  <h3>{{userProfile.name}}</h3>
		                  <h4>{{userProfile.email}}</h4>
		              </div>
		          </md-list-item>
		          <md-menu-item>
		            <md-button ng-click="signOut()">
		                <div layout="row">
		                  <p flex>Sign out</p>
		                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">power_settings_new</md-icon>
		                </div>
		            </md-button>
		          </md-menu-item>
		        </md-menu-content>
            </md-menu>
        </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>

        <md-content layout="column" flex class="md-padding">
            <md-card ng-if="items.length === 0">
                <span class="md-padding">
                    <md-icon>announcement</md-icon>
                    You're up to date with your feeds!
                </span>
            </md-card>
            <md-card ng-repeat="item in items" ng-class="{item: true, selected: item.selected}"
                    ng-init="currentFeed = getCurrentFeed(item)" ng-click="selectItem(item, currentFeed)"
                    scroll-if="item.selected" ng-cloak
                    md-swipe-right="selectPreviousItem()" md-swipe-left="selectNextItem()" >
                <md-card-content>
                    <div layout="row" layout-sm="column" layout-align-sm="start start">
                        <h2 class="md-headline"><a href="{{item.url}}">{{item.title}}</a></h2>
                        <span flex></span>
                        <span style="color: #999;">
                            <md-tooltip>{{item.publicationDate | fullDate}}</md-tooltip>
                            <span pretty-date="item.publicationDate"></span>
                        </span>
                    </div>
                    <span class="md-subhead" style="color: #999; margin-bottom: 10px">from {{currentFeed.name}}</span>
                    <div ng-bind-html="item.description | removeSpam | trust" style="overflow-x: auto; overflow-y: visible; padding: 0 0 10px 0">
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>

    <script type="text/ng-template" id="subscribePopup.html">
        <md-dialog aria-label="Subscribe to new feed" ng-controller="SubscriptionsController">
            <form name="subscribeForm">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon aria-label="Close dialog">close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="max-width:800px;max-height:810px; ">
                    <md-input-container ng-show="editMode">
                        <md-icon>mode_edit</md-icon>
                        <md-select ng-model="sub.feed" placeholder="Subscription" style="margin-left: 36px;"
                            ng-change="updateValues(sub.feed)">
                            <md-option ng-repeat="feed in feeds" ng-value="feed">{{feed.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-icon>folder</md-icon>
                        <md-select ng-model="sub.folder" placeholder="Parent folder" style="margin-left: 36px;">
                            <md-option ng-repeat="folder in folders" ng-value="folder">{{folder.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-icon>link</md-icon>
                        <input ng-model="sub.url" placeholder="Feed URL" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <md-icon>create</md-icon>
                        <input ng-model="sub.name" placeholder="Feed name" ng-required="true">
                    </md-input-container>
                </md-dialog-content>
                <div class="md-actions" layout="row">
                    <span flex></span>
                    <md-button ng-click="subscribe(subscribeForm)" >OK</md-button>
                    <md-button ng-click="cancel()">Cancel</md-button>
                </div>
            </form>
        </md-dialog>
    </script>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular-aria/angular-aria.min.js"></script>
    <script src="vendor/angular-material/angular-material.js"></script>
    <script src="vendor/angular-mousetrap-service/release/angular-mousetrap-service.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/_directives.js"></script>
    <script src="js/_filters.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/subscriptions.js"></script>
    <script src="js/feeds.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>